{
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "avoid",
    "trailingComma": "all"
}