$font-10: 10px;
$font-size-12:12px;
$font-size-15:15px;
$fornt-size-20:20px;

$color-primary: rgb(26, 88, 233);
$color-white: #ccc;
$color-white: #c0baba;
$color-button:#353c97;
$color-black: #000;
$color-high-white: #ffff;
$color-blue: #2843de;

